<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">日本観光シェアアプリ</h1>
    <p class="subtitle has-text-centered mb-5">世界中のみんなで日本の都道府県を旅をして共有しよう！</p>
    <div class="columns box">
      <div class="column is-narrow">
        <div class="mb-4">好きな県をクリックすると検索結果が表示されます</div>
        <div id="search_map" class="home-map-class" data-map-path="<%= asset_path 'map-mobile.svg' %>"></div>
        <div class="column">
          <div class="color box mt-3">
            <ul>
              <li><span style="color: red;">赤色</span>: 投稿数が10個以上の場合</li>
              <li><span style="color: blue;">青色</span>: 投稿数が5個以上場合</li>
              <li><span style="color: pink;">ピンク色</span>: 投稿数が5未満の場合</li>
              <li><span style="color: black;">白色</span>: 投稿数が0個の場合</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero" id="hotel-gallery">
  <div class="hero-body is-paddingless">
    <div class="container is-clipped">
      <div class="content">
        <h4 class="main_title title is-4">このアプリの情報</h4>
      </div>
      <section class="section is-paddingless">
        <div id="slider">
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">Mon titre 1</div>
              <div class="item__description">Ici une petite description pour tester le slider</div>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
            </div>
            <div class="card-content">
              <div class="item__title">Mon titre 2</div>
              <div class="item__description">Ici une petite description pour tester le slider</div>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img src="/images/スクリーンショット 2023-10-22 17.26.50.png" alt="スクリーンショット">
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">Mon titre 3</div>
              <div class="item__description">Ici une petite description pour tester le slider</div>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img src="https://images.unsplash.com/photo-1550931937-2dfd45a40da0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">Mon titre 4</div>
              <div class="item__description">Ici une petite description pour tester le slider</div>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img src="https://images.unsplash.com/photo-1550930516-af8b8cc4f871?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">Mon titre 5</div>
              <div class="item__description">Ici une petite description pour tester le slider</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<%= javascript_include_tag 'homes.js' %>
<%= javascript_include_tag 'search_post.js' %>
