<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Bulma詳細テンプレート</h1>
    <p class="subtitle has-text-centered mb-5">より詳細なBulmaを使用したサンプルです。</p>
    <div class="columns is-centered box">
      <div class="column is-narrow">
        <div id="search_map" class="home-map-class" data-map-path="<%= asset_path 'map-mobile.svg' %>"></div>
      </div>
      <div class="column is-one-quarter">
        <div class="color box p-3">
          <h4 class="subtitle is-6 has-text-centered">色の説明</h4>
          <ul style="font-size: 0.8rem;">
            <li><span style="color: red;">赤色</span>: 投稿数が10個以上の場合</li>
            <li><span style="color: blue;">青色</span>: 投稿数が5個以上場合</li>
            <li><span style="color: pink;">ピンク色</span>: 投稿数が5未満の場合</li>
            <li><span style="color: black;">白色</span>: 投稿数が0個の場合</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_include_tag 'homes.js' %>
<%= javascript_include_tag 'search_post.js' %>
</body>
</html>
