<%= render 'shared/flash_messages' %>

<div class="section">
  <p class="is-size-4 has-text-weight-bold has-text-centered">
    こちらはインバウンド向け観光客サービス画面です<br>
    翻訳機能など必要のない採用者の方は大変お手数ですがfooter画面か下のアプリ画面へをクリックしてください
  </p>
  <div class="button-container pt-4">
    <%= link_to "アプリ画面へ", search_post_index_path, class: "button is-primary mt-3" %>
  </div>
</div>
<div class="section">
  <div class="box">
    <div class="content has-text-centered">
      <h2 class="title is-4">翻訳画面</h2>
      <p>(If you want to change the language, please change it from the select lauguage below.)</p>
      <div id="google_translate_element"></div>
      <div>こちらはインバウンドの観光客方向けの翻訳サービスです。ポートフォリオをご覧の方はデフォルトで日本語になっております</div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'service.js' %>
