// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#map {
  height: 1000px;
  width: 1300px;
}

.address-box {
  padding: 10px;
  border: 2px solid #333;
  background-color: #f7f7f7;
  margin-top: 10px;
  font-style: italic;
}

@media (min-width: 360px) and (max-width: 599px) {
  #map {
    width: 400px;
    height: 400px;
  }
  .content .subtitle {
    font-size: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  #map {
    width: 600px;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  #map {
    width: 800px;
  }
}
