// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#map {
  height: 1000px;
  width: 1600px;
}
  
.address-box {
  padding: 10px;
  border: 2px solid #333;
  background-color: #f7f7f7;
  margin-top: 10px;
  font-style: italic;
}
