// Place all the styles related to the ramen_shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}

.average-score-display {
  font-size: 16px;
}

.form-field input[type="text"], 
.form-field textarea, 
.form-field input[type="file"] {
  width: 100%;
  box-sizing: border-box;
}

.review-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9; /* Light grey background */
}

.reviews-list .review {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #e0e0e0; /* Light border around each review */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lift effect */
  background-color: #ffffff; /* White background for each review card */
}

.review span {
  display: block; /* Display as block for separate lines */
  margin-bottom: 5px;
}

.review span.review-content {
  margin-top: 10px; /* Spacing between user details and review content */
}

.review > span:nth-child(1) {
  font-weight: bold; /* Bold font for the user's name */
  font-size: 1.1em; /* Slightly larger font size */
}

.review > span:nth-child(2) {
  color: #0077cc; /* Color for the score. Can be adjusted as per theme */
}
