// Place all the styles related to the search_post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.item {
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px; 
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #e1e1e1;
    padding: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.item:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.item-style {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
}

.title{
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.heading{
    text-align: center;
    font-size: 20px !important; 
    margin-bottom:30px !important;
    color: #777;
}
