.background-image {
  width: 100%;
  height: 400px;
}
    
.background-class {
  width: 100%;
  height: 100%;
}

.user-column{
  display:flex
}

.sample{
  width: 100%;
  height: 100%;
}

.large-icon {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
