<% if flash[:notice] %>
  <div class="notification is-primary">
    <button class="delete"></button>
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="section">
  <p class="is-size-4 has-text-weight-bold has-text-centered">
    こちらはインバウンドの方に向けてのサービスとなっております<br>
    採用者の方は大変お手数ですが下のfooter画面か下のアプリ画面へをクリックしてください
  </p>
</div>
<div class="section">
  <div class="box">
    <div class="content has-text-centered">
      <h2 class="title is-4">翻訳画面</h2>
      <div id="google_translate_element"></div>
      <div>これはインバウンドの観光客方向けの翻訳サービスです。ポートフォリオをご覧の方はデフォルトで日本語になっております</div>
    </div>
  </div>
</div>
</div>
<%= javascript_include_tag 'profile.js' %>
<%= javascript_include_tag 'users.js' %>
